h1 {
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    background-color: aqua;
    text-align: center;
    color: purple;
}

li {
    font-size: 30px;
    color: orange;
    text-align: right;
}

.bruh {
    font-size: 150px;
    text-align: center;
    font-family: cursive, fantasy, monospace;
}